<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1> <%= 1+2 %> </h1>
    <h1> <%= "bharti".toUpperCase() %> </h1>
    <h1> <%= ["bharti","sukhi"][1].toUpperCase()%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dicta, fuga officiis ratione placeat, consectetur sed quibusdam soluta eius maxime quae doloremque eligendi sint tenetur ipsum. Reiciendis doloremque nisi suscipit!</p>
</body>
</html>